@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Weather {
  border: 2px solid #680747;
  border-radius: 4px;
  padding: 16px;
  margin: 30px auto;

  background: #141010;
  color: #f70776;
  font-family: "Inconsolata", monospace;
}

.Weather .btn {
  background: #f70776;
  color: #141414;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather h1 h2 h3 h4 h5 {
  font-family: "Karla", sans-serif;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  display: inline-block;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}
